<div class="container-all" id="id-container-all">
  <%= render 'shared/navbar' %>
    <div class="container-dashboard-section d-flex">
      <div class="card-dashboard-layout">
        <h1>Contacts</h1>
      </div>
      <div class="card-dashboard-layout">
        <h1>Devis</h1>
      </div>
      <div class="card-dashboard-layout">
        <h1>Revues</h1>
      </div>
    </div>
    <div class="card-table">

    </div>

  <%= render 'shared/footer' %>

</div>
