      <h1>Commentaires des Clients</h1>
      <table style="width:100%">
        <tr class="col-name">
          <th>Titre</th>
          <th>Contenu</th>
          <th>Rating</th>
          <th>Nom</th>
          <th>Role</th>
          <th>Status</th>
          <th>Delete</th>
        </tr>
        <% @reviews.each do |r|%>
          <tr>
            <td class="review-title"><%= r.title %></td>
            <td class="review-content"><%= r.content %></td>
            <td class="review-rating"><%= r.rating %></td>
            <td><i class="far fa-pause-circle"></i></td>
          <td><i class="far fa-edit" id="update-icon"></i></td>
          <td><i class="far fa-trash-alt" id="delete-icon"></i></td>
          </tr>
        <% end %>
      </table>
