<div class="footer">
  <div class="footer-links">
<!--     <a href="#"><i class="fab fa-github"></i></a> -->
<!--     <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a> -->
<!--     <a href="#"><i class="fab fa-twitter"></i></a> -->
    <a href="https://www.linkedin.com/in/gacleaningproservices/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <h5>G&A Cleaning Pro Services, depuis 2015</h5>
  </div>
</div>
