<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Vous avez envoyé une demande de contact à G&A, merci! %></h1>
    <p>Voici les coordonnées que vous nous avez communiqué et que nous allons utiliser pour vous joindre:
      <%= @contact[:nom] %>
      <%= @contact[:prenom] %>
      <%= @contact[:email] %>
      <%= @contact[:phone] %></p>
  </body>
</html>
