
.avatar {
  width: 8.6vh;
  border-radius: 50%;
  margin-left: 0.5vw;
}

.avatar:hover {
  box-shadow: 0.2vw 0.2vh 0.8vw  #49beb7;
}

.user-avatar {
  width: 8.6vh;
  height: 8.6vh;
  border-radius: 50%;
  border: 0.3vh solid #feded2;
  object-fit: fill;
  }

.avatar-large {
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 25vw;
  border-radius: 50%;
  box-shadow: 0.4vw 0.4vh 4vw #043234;
}

.avatar-medium {
  width: 8vw;
  border-radius: 50%;
  position: absolute;
  top: -7vh;
}
