#btn-ghost {
  color: #f5e1da;
  border: 0.4vh solid #f5e1da;
  padding: 0.4vh 1vw;
  border-radius: 5vh;
  font-weight: bolder;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  font-family: 'Strait', sans-serif;
  font-size: calc(10px + 0.5vw);
  &:hover {
    opacity: 1;
    text-decoration: none;
  }
}

#btn-ghost-card {
  color: #f5e1da;
  border: 0.4vh solid #f5e1da;
  padding: 0.4vh 1vw;
  border-radius: 5vh;
  font-weight: bolder;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  font-family: 'Strait', sans-serif;
  font-size: calc(12px + 0.5vw);
  position: absolute;
  // margin-top: -7.6vh;
  // margin-right: -3.9vw;
  margin-top: 2vh;
  &:hover {
    opacity: 1;
    text-decoration: none;
    }
}

#btn-ghost-form {
  color: #176764;
  border: 0.4vh solid #176764;
  padding:  0.4vh 1vw;
  border-radius: 5vh;
  font-weight: bolder;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin-top: 0.5vh;
  margin-bottom: 1vh;
  background-color:#f5e1da;
  font-family: 'Strait', sans-serif;
  font-size: calc(12px + 0.5vw);
  &:hover {
    opacity: 1;
    text-decoration: none;
  }
}
