#btn-ghost {
  color: #f5e1da;
  border: 3px solid #f5e1da;
  padding: 12px 24px;
  // margin-right: 20px;
  // margin-top: -14px;
  border-radius: 50px;
  font-weight: bolder;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  font-family: 'Strait', sans-serif;
  &:hover {
    opacity: 1;
    color: #f5e1da;
    border: 3px solid #f5e1da;
    text-decoration: none;
  }
}

#btn-ghost-card {
  color: #f5e1da;
  border: 3px solid #f5e1da;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bolder;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  font-family: 'Strait', sans-serif;
  font-size: 18px;
  position: absolute;
  margin-top: -60px;
  margin-right: -90px;
  &:hover {
    opacity: 1;
    color: #f5e1da;
    border: 3px solid #f5e1da;
    text-decoration: none;
    }
}

// .btn-ghost {
//   color: #4A4A4A;
//   border: 1px solid #4A4A4A;
//   padding: 8px 24px;
//   border-radius: 50px;
//   font-weight: lighter;
//   opacity: 0.6;
//   transition: opacity 0.3s ease;
//   &:hover {
//     opacity: 1;
// }


#btn-ghost-form {
  color: #176764;
  border: 3px solid #176764;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bolder;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin-top: 5px;
  background-color:#f5e1da;
  font-family: 'Strait', sans-serif;
  font-size: 18px;
  &:hover {
    opacity: 1;
    color: #176764;
    border: 3px solid #176764;
  }
}
