.card-service {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 1.5vw rgba(0,0,0,0.2);
  // border: 2px solid blue;
  margin: 1vh 0.5vw;
  width: 22vw;
  min-width: 400px;
  height: 54vh;
  padding-left: 0;
  // position: relative;
}

.card-service-front > img {
  height: 48vh;
  width: 25vw;
    min-width: 400px;
  object-fit: cover;
}

.card-service h3 {
  margin-top: 1vh;
  background-color: transparent;
  // position: absolute;
  // min-width: 300px;
}

.service-details {
  padding: 3vh 2vw;
  display: flex;
  flex-direction: column;
}

////FLIP CARDS////

.card-service-inner {
  position: relative;
  height: 54vh;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 0.4vw 0.8vh 0 rgba(0,0,0,0.2);
}

.card-service:hover .card-service-inner {
  transform: rotateY(180deg);
}

.card-service-front, .card-service-back {
  position: absolute;
  // width: 25vw;
  height: 54vh;
  backface-visibility: hidden;
}

.card-service-front {
  background: transparent;
  // width: 25vw;
}

.card-service-front h3 {
  font-size: 1.5vw;
  align-items: center;
}

.card-service-back {
  background: #176764;
  // width: 25vw;
  color: #f5e1da;
  transform: rotateY(180deg);
}

.card-service-back h3 {
  margin-top: 7vh;
  font-size: 2vw;
    padding: 2vh 2vw;
}
.card-service-back p {
    padding: 2vh 2vw;
    font-size: 1.1vw;
  color: #f5e1da;
}

.card-service .card-service-inner .card-service-back .service-details {
  position: relative;
}

.card-service .card-service-inner .card-service-back .service-details a {
  right: 2vw;
  position: absolute;
}

.card-form {
  background-color: white;
  box-shadow: 0 0 1.5vw rgba(0,0,0,0.2);
  padding: 2vh 2vw;
  width: 60vw;
  justify-content: space-between;
  margin: 5vh auto;
  float: none;
  // border: 2px solid orange;
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-form h1 {
  // margin-top: 0px;
  margin-bottom: 2vh;
}

.card-form-dashboard {
  background-color: white;
  box-shadow: 0 0 1.5vw rgba(0,0,0,0.2);
  width: 80vw;
  justify-content: space-between;
  margin: 5vh auto;
  float: none;
  // border: 2px solid orange;
  border-radius: 1vw;
}

.card-form-user {
  background-color: white;
  box-shadow: 0 0 1.5vw rgba(0,0,0,0.2);
  padding: 4vh 4vw;
  width: 40vw;
  justify-content: space-between;
  margin: 10vh auto;
  float: none;
  // border: 2px solid orange;
  border-radius: 1vh;
}

.card-form-user h2 {
  // margin-top:20px;
  font-size: 3vw;
}

.card-info-prestations {
  // border: 2px solid red;
  width: 20vw;
  margin-bottom: 2vh;
}

.g-a-contact {
  // width: 30vw;
  // border: 2px solid green;
  // padding: 2vh 2vw;
  margin: 2vh 0vw 2vh 2vw;
  height: 35vh;
  background-color: #176764;
  color: #f5e1da;
  position: relative;
  border-radius: 1vh;
  align-items: center;
  box-shadow: 0 0 1.5vw rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify: center;
  text-decoration: none;
}

.g-a-contact h2 {
  text-align: center;
  color: #f5e1da;
  margin-top: 10vh;
}

.g-a-contact p {
  text-align: center;
  // font-size: 20px;
  line-height: 0.5;
}

.card-inner {
  // border: 2px solid black;
  // padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50vw;
}


.card-form cite {
  font-size: 1vw;
  padding: 2vh 2vw;
}

.card-input {
  width: 60vw;
  display: flex;
  box-shadow: 0 0 1.5vw rgba(0,0,0,0.2);
  margin: 4vh auto;
  flex-direction: column;
}

.top-card {
  display: flex;
  justify-content: space-between;
  // border: 2px solid green;
  width: 60vw;
  background-color: rgba(23,103,100,0.1);
  height: 6vh;
}

.top-card h2 {
  padding-left: 2vw;
    font-size: 1.5vw;
}

.rating-card {
  // display:flex;
  // border: 2px solid blue;
  padding-right: 2vw;
  // padding-top: 30px;

}

.rating-card i {
  font-size: 1vw;
}

.comment-card {
  // border: 2px solid orange;
  padding: 2vh 2vw;
  // flex: grow;
}

.card-table {
  padding: 2vh 2vw;
}

.card-table h1 {
  margin-bottom: 2vh;
  font-size: 3vw;
}
