.main-container {
  // border: 2px solid pink;
  display: flex;
  flex-direction: column;
}

.container-categories {
  // border: 2px solid red;
  margin-bottom: 30px;
}

.container-company-intro {
  // border: 2px solid orange;
  margin: 10px;
  position: relative;
}

.container-company-intro-info {
  // border: 2px solid blue;
  margin-top: 20px;
  padding-bottom: 20px;
}

.container-create {
  height: 100vh;
}

h1 {
  color: #176764;
  font-size: 60px;
  // line-height: 2.5;
}

h2 {
  color: #176764;
  font-size: 40px;
}

.container-listofservices {
  // border: 2px solid brown;
  display: flex;
  margin: 10px;
}

.service-details {
  display: flex;
  flex-direction: column;
  position: relative;
}

.service-details h1 {
  color: #f5e1da;
  font-size: 26px;
  padding: 10px;
}

.service-details p {
  color: #f5e1da;
  font-size: 20px;
  padding: 10px;
}

.container-who-we-are {
  // border: 2px solid black;
  margin-top: 120px;
  margin-bottom: 120px;
  padding: 10px;

}

.container-who-we-are .container-categories h1 {
  font-size: 60px;
  font-family: 'Strait', sans-serif;
}

.container-who-we-are-details {
  display:flex;
  // border: 2px solid orange;
    // padding: 40px;
}

.container-who-we-are-details-text {
  // border: 2px solid blue;
  padding: 60px;
  width: 70%;
}
.container-who-we-are-details-text p {
  padding: 5px 20px;
}

.container-services {
  // border: 2px solid black;
  width: 100%;
  background-color: rgba(23,103,100,0.1);
  padding: 120px 0px 120px 0px;
    // margin-top: 120px;
}

.container-services .container-categories {
  grid: display;
  grid-template-column: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

@media(max-width: 992px) {
  .container-services .container-categories{
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .container-services .container-categories {
    grid-template-columns: 1fr;
  }
}

.container-services .container-categories h1 {
  font-size: 60px;
  font-family: 'Strait', sans-serif;
}

.container-logo {
  height: 88vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify: center;
  width: 100%;
  background:linear-gradient(rgba(23,103,100,0.0), rgba(23,103,100,1)), url(bricks2.jpg);
  text-align: center;
  padding-top: 30px;
  // background: image-url('bricks2.jpg') no-repeat center center fixed;
  // opacity: 0.4;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // opacity: linear-gradient(rgba(8,95,99,0.2), #176764);
}

.container-logo h1 {
  color: #f5e1da;
  font-size: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-shadow: 4px 4px 16px #043234;
  // font-family: 'Strait', sans-serif;
}

.container-logo h2 {
  color: #f5e1da;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-shadow: 4px 4px 16px #043234;
  // font-family: 'Strait', sans-serif;
}

.container-clients-input {
  // margin-top: 120px;
  padding-top: 120px;
  padding-bottom: 120px;
  // display: flex;
  flex-direction: column;
  // align-items: center;
  // border: 2px solid black;
}

#clients h1 {
  font-size: 60px;
  font-family: 'Strait', sans-serif;

}
