.main-container {
  // border: 2px solid pink;
  display: flex;
  flex-direction: column;
}

.container-logo {
  height: 88vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify: center;
  width: 100vw;
  background:linear-gradient(rgba(23,103,100,0.0), rgba(23,103,100,1)), url(bricks2.jpg);
  text-align: center;
  // padding-top: 30px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container-logo h1 {
  color: #f5e1da;
  font-size: 5vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  text-shadow: 0.4vw 0.4vh 4vw #043234;

}

.container-logo h2 {
  color: #f5e1da;
  font-size: 3.5vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  text-shadow: 0.4vw 0.4vh 4vw #043234;
}

.container-all-dashboard {
  background-color: #e5ebea;
}

.container-index-dashboard {
  min-height: 73vh;
}


.container-create {
  height: 100vh;
}

.container-all-device {
  display: flex;
  flex-direction: column;
}

#container-devise-user {
  height: 78vh;
}

.container-who-we-are {
  // border: 2px solid black;
  margin: 12vh 0;
  padding: 0 3vw;
}

.container-who-we-are h1 {
  // font-size: 4rem;
}

.container-who-we-are-details {
  display:flex;
  // border: 2px solid orange;
}

.container-who-we-are-details-text {
  // border: 2px solid blue;
  padding: 3vh 0;
  width: 70vw;
}

.container-who-we-are-details-text p {
  padding: 0.5vh 3vw;
}

.container-who-we-are-details-text cite {
  padding: 0.5vh 3vw;
  margin-top: 1vh;
}

.container-listofservices {
  // border: 2px solid brown;
  display: flex;
  margin: 1vh 1vw;
}

.service-details {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0;
}

.service-details h3 {
  color: #f5e1da;
  // padding: 10px;
}

.service-details p {
  color: #f5e1da;
  // padding: 10px;
}

.container-clients-input {
  padding: 12vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // border: 2px solid black;
}

#clients h1 {
  font-size: 4vw;
}


#who h1 {
  font-size: 4vw;
}

#services {
    background-color: #e5ebea;
    padding: 12vh 0vw;
}

#services h1 {
  font-size: 4vw;
}
