.footer {
  background: #176764;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 0 2vw;
  color: #fdfaf9;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: #f5e1da;
  opacity: 0.15;
  text-decoration: none;
}

.footer-links a:hover {
  opacity: 1;
}

.footer-links a i {
  color: #f5e1da;
  font-size: 2.5vw;
}

.footer-copyright h5 {
  color: #f5e1da;
  font-family: 'Strait', sans-serif;
  font-size: 1.5vw;
}
