td {
  font-size: 1vw;
  text-decoration: none;
}

td i {
  font-size: 1.5vw;
}

th {
  font-size: 1.2vw;
  color: #176764;
  background-color: #fddacc;
}

tr:nth-child(odd) {
  background-color: #feece5;
}
