td {
  font-size: 20px;
}

td i {
  font-size: 20px;
}

th {
  font-size: 24px;
  color: #176764;
  background-color: #fddacc;
}

tr:nth-child(odd) {
  background-color: #feece5;
}

h1 {
  margin-bottom: 20px;
}
