.not-checked {
  color: rgba(23,103,100,0.2);
  font-size: 25px;
}

.checked {
  color: #176764;
  font-size: 25px;
}

#trash {
  color: rgba(23,103,100,0.4);
  font-size: 25px;
}

#trash:hover {
  color: #176764;
}

#info {
  color: rgba(23,103,100,0.4);
    font-size: 25px;
}

#info:hover {
  color: #176764;
}

#update {
  color: rgba(23,103,100,0.4);
  margin: 20px auto;
  font-size: 25px;
}

#update:hover {
  color: #176764;
}
