.not-checked {
  color: rgba(23,103,100,0.2);
  font-size: 1.5vw;
}

.checked {
  color: #176764;
  font-size: 1.5vw;
}

#trash {
  color: rgba(23,103,100,0.4);
  font-size: 1.5vw;
    margin-left: 0.25vw;
}

#trash:hover {
  color: #176764;
}

#info {
  color: rgba(23,103,100,0.4);
    font-size: 1.5vw;
      margin-right: 0.25vw;
}

#info:hover {
  color: #176764;
}

#update {
  color: rgba(23,103,100,0.4);
  margin: 3vh auto;
  font-size: 1.5vw;
  margin-right: 0.5vw;
}

#update:hover {
  color: #176764;
}

#close {
  color: rgba(23,103,100,0.4);
  margin: 3vh auto;
  font-size: 1.5vw;
  margin-left: 0.5vw;
}

#close:hover {
  color: #176764;
}
