.navbar {
  justify-content: space-between;
  // border: 1px solid yellow;
  background: #176764;
  height: 12vh;
  top: 0;
  width: 100%;
  z-index: 4;
}

#navbar {
  top: 0;
  width: 100%;
  position: sticky;
}

#nav-item {
  padding-right: 20px;
  color: #f5e1da;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Strait', sans-serif;
  &:hover {
    text-shadow: 2px 2px 8px  #49beb7;
    color: #f5e1da;
    text-decoration: none;
  }
}

.navbar ul {
  padding: 40px 10px;
  position: absolute;
  right: 20px;
  margin-left: 90px;
  display: inline-block;
}


